body {
    font-family: poppins, sans-serif;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar nav a {
    text-decoration: none;
    color: black;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: red;
    text-decoration: none;
    align-items: left;
}

.btn-group {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 12px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    background-color: blue;
    color: white;
}

.hero .container {
    display: flex;
    align-items: center;
    padding-top: 50px;
    gap: 40px;
}

.hero-text {
    flex: 1;
}

.hero-image-collage {
    flex: 1;
    position: relative;
    height: 500px;
}
.blod-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 65% 35% 55% 45% / 40% 60% 40% 60%;
    z-index: 1;
}

.hero-image-collage img {
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);    
}

.img-1 {
    width: 75%;
    top: 15%;
    left: 10%;
}

.site-footer {
    background-color: #A9A9A9;
    color: black;
    padding: 20px 0;
    text-align: center;
    margin-top: 60px;
}

.site-footer p {
    margin: 0;
    font-size: 14px;
}